<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add New User</h1>
    <nav>
        <a href="/">Main Page</a> |
        <a href="/users">User List</a>
    </nav>
    <form action="/add_user" method="post">
        <label for="username">User Name:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="nickname">Nickname:</label><br>
        <input type="text" id="nickname" name="nickname"><br><br>
        
        <label for="join_date">join_date:</label><br>
        <input type="date" id="join_date" name="join_date" required><br><br>
        
        <input type="submit" value="Add User">
    </form>
</body>
</html>
