<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>User Detail - {{ user.username }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>User Detail: {{ user.username }}</h1>
    <nav>
      <a href="/">Main Page</a> |
      <a href="/user_list">Users</a>
    </nav>
    <h2>User Profile</h2>
    <p><strong>User Name:</strong> {{ user.username }}</p>
    <p><strong>Nickname:</strong> {{ user.nickname }}</p>
    <p><strong>Join Date:</strong> {{ user.join_date }}</p>

    {% if authored_books %}
    <h2>Author Profile</h2>
    <p>Works</p>
    <ul>
      {% for book in authored_books %}
      <li>
        <strong><a href="/book/{{ book.isbn }}">{{ book.title }}</a></strong>
        <br />
        <strong>Publish Date:</strong> {{ book.publish_date }}<br />
        <strong>Current status:</strong> {{ book.status }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <h2>Reading List</h2>
    {% if books %}
    <ul>
      {% for book in books %}
      <li>
        <strong><a href="/book/{{ book.isbn }}">{{ book.title }}</a></strong> {%
        if book.chapters %}
        <ul>
          {% for chapter in book.chapters %}
          <li>
            {{ chapter.chapter_id }}: {{ chapter.title }} ({{
            chapter.publish_date }})
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No chapter detail</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>User has not read any books yet.</p>
    {% endif %}

    <h2>Reviews Posted</h2>
    {% if reviews %}
    <ul>
      {% for review in reviews %}
      <li>
        <strong>Book:</strong>
        <a href="/book/{{ review.isbn }}">{{ review.title }}</a><br />
        <strong>Rating:</strong> {{ review.rating }} / 5<br />
        <strong>Review Date:</strong> {{ review.comment_date }}<br />
        <strong>Content:</strong> {{ review.content }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>User hasn't posted any reviews.</p>
    {% endif %}
  </body>
</html>
