<!doctype html>
<html>
  <head>
    <title>User List</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>User List</h1>
    <nav>
      <a href="/">Main Page</a>
    </nav>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Nickname</th>
          <th>Date Joined</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
          <td>{{ user.nickname }}</td>
          <td>{{ user.join_date }}</td>
          <td>
            <a
              href="/delete_user/{{ user.username }}"
              onclick="return confirm('Are you sure to delete this user?');"
              >delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
